/* Main styling */

h2 {
    margin: 0;
    padding: 0;
    font-family: "CreateLato";
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: "CreateRound";
    font-weight: 400;
    font-size: 24px;
}

main section:nth-of-type(1) {
    background-color: var(--sectionColor1);
    display: flex;
    flex-direction: column;
    padding: 30px 10px 30px 10px;
}

main section:nth-of-type(1) img{
    order: -1;
}

main section:nth-of-type(2) {
    background-color: var(--sectionColor2);
    display: flex;
    flex-direction: column;
    padding: 30px 10px 30px 10px;
}

main section:nth-of-type(2) img{
    order: -1;
}

main section:nth-of-type(3) {
    background-color: var(--sectionColor1);
    display: flex;
    flex-direction: column;
    padding: 30px 10px 30px 10px;
}

main section:nth-of-type(3) img{
    order: -1;
}

/*media queries*/

@media screen and (min-width: 768px) {
    /*Sections*/

    main section:nth-of-type(1),
    main section:nth-of-type(2),
    main section:nth-of-type(3) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main section:nth-of-type(3) {
        grid-template-rows: 1fr;
    }

    main section:nth-of-type(1) h2 {
        justify-self: start;
        align-self: end;
        text-align: left;
    }

    main section:nth-of-type(2) h2 {
        justify-self: start;
        align-self: end;
        margin-left: 30%;
        text-align: left;
    }

    main section:nth-of-type(3) h2 {
        text-align: left;
        align-self: center;
    }

    main section:nth-of-type(1) h3 {
        justify-self: start;
        text-align: left;
    }

    main section:nth-of-type(2) h3 {
        justify-self: start;
        margin-left: 30%;
    }

    main section:nth-of-type(1) img {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 390px;
        width: 510px;
        margin-left: 5%;
    }

    main section:nth-of-type(2) img {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 390px;
        width: 510px;
    }

    main section:nth-of-type(3) img {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 390px;
        width: 510px;
        margin-left: 20%;
    }
}

@media screen and (min-width: 1220px) {
    main section:nth-of-type(1) img {
        margin-left: 20%;
    }
}
