/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;
}

/* Main styling */

:root {
    --white: #ffffff;
    --black: #000000;

    --mainColor: #f7f7f7;
    --secondaryColor: #f0f0f0;
    --tertiaryColor: #2a8a15;

    --sectionColor1: #e50e35;
    --sectionColor2: #1e3932;

    --topStripe: #006341;
    --bottomStripe: #382f2d;

    --backgroundColor: #1e1e1e;
    --textColor: #3d3935;

    --grayScale: #A8A8A8;
}

@font-face {
    font-family: "CreateRound";
    src: url("../fonts/CreteRound-Italic.ttf");
}

@font-face {
    font-family: "CreateLato";
    src: url("../fonts/Lato-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
}

main {
    color: var(--white);
}

h1 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* Header + Nav styling */

header nav {
    background-color: var(--mainColor);
    border-top: 10px solid var(--topStripe);
    padding: 20px 0px 20px 0px;
    display: flex;
}

header nav a:nth-of-type(1) img {
    position: relative;
    height: 50px;
    width: 50px;
    left: 20px;
}

header nav a:nth-of-type(2) {
    position: relative;
    right: 25px;
    height: 44px;
    width: 40px;
    float: right;
    display:inline-block;
    padding-left: 48px;
    overflow:hidden;
    white-space: nowrap;
    line-height: 48px;
    margin-left: auto;
    order: 2;

    background-image: url("../images/icon1.svg");
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: 8px center;
}

header nav button {
    position: relative;
    right: 15px;
    height: 44px;
    width: 48px;
    float: right;
    order: 3;

    border: none;
    background: none;

    z-index:100;

    background-image: url(../images/icon2.svg);
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/*Footer styling*/

footer {
    border-bottom: 10px solid var(--bottomStripe);
}

footer section:first-child {
    background-color: var(--secondaryColor);
    padding: 35px 15px 35px 0px;
}

footer section:first-child img {
    width: 35px;
    height: 35px;
}

footer nav {
    background-color: var(--mainColor);
}

footer nav ul li {
    padding: 20px 0px 20px 20px;
    border-bottom: 2px solid var(--black);
}

footer nav ul li a {
    font-family: "CreateLato";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--textColor);
}

footer nav ul li a img {
    float: right;
    height: 18px;
    width: 18px;
    margin-right: 15px;
}

footer section:nth-of-type(2) {
    background-color: var(--mainColor);
}

footer section:nth-of-type(2) ul li {
    padding: 10px 0px 10px 20px;
    font-family: "CreateLato";
    font-weight: 400;
    font-size: 14px;
    color: var(--textColor);
}

footer p {
    margin: 0;
    background-color: var(--mainColor);
    padding: 10px 0px 20px 20px;
    font-family: "CreateLato";
    font-weight: 400;
    font-size: 12px;
    color: var(--textColor);
}

/*media queries*/

@media screen and (max-width: 767px) {
    header nav.toonMenu ul {
        transform: translatex(0);
        display: block;
    }

    header nav ul {
        transform: translatey(-100%);
        transition: .5s;

        display: none;
        position: absolute;
        background-color: var(--backgroundColor);
        left: 0;
        width: 100%;
        top: 85px;
    }

    header nav ul li {
        padding: 15px 0px 15px 25px;
    }

    header nav ul li a {
        font-family: "CreateLato";
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
        color: var(--white);
    }
}

@media screen and (min-width: 768px) {
    /*header*/

    header nav {
        padding-left: 100px;
    }

    header nav a:nth-of-type(1) img {
        position: relative;
        height: 60px;
        width: 60px;
    }

    header nav a:nth-of-type(2) {
        overflow: visible;
        width: auto;

        font-family: "CreateLato";
        font-weight: 400;
        font-size: 14px;
        color: var(--textColor);

        background-size: 20px;
        padding-left: 36px;
    }

    header nav a:nth-of-type(2):hover {
        -webkit-filter: grayscale(100%);
        color: var(--grayScale);
    }

    header nav button {
        display: none;
    }

    header nav ul {
        display: block;
    }

    header nav ul li {
        position: relative;
        display: inline;
        padding: 16px;
        top: 47px;
        left: 55px;
    }

    header nav ul li a {
        font-family: "CreateLato";
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 3px;
        color: var(--textColor);
    }

    picture img {
        display: block;
        object-fit: cover;
        height: 532px;
    }

    /*States*/

    header nav ul li:hover {
        color: var(--white);
        background-color: var(--backgroundColor);
    }

    header nav ul li:hover a {
        color: inherit;
    }

    footer nav ul li a:hover {
        -webkit-filter: grayscale(100%);
        color: var(--grayScale);
    }

    footer section ul li:hover {
        -webkit-filter: grayscale(100%);
        color: var(--grayScale);
    }

    /*Footer*/

    footer nav {
        padding: 40px 0px 0px 60px;
    }

    footer nav ul {
        display: flex;
        justify-content: flex-end;
    }

    footer nav ul li {
        padding: 20px 0px 20px 0px;
        margin-left: 0;
        margin-right: auto;
        border: none;
    }

    footer nav ul li a img {
        display: none;
    }

    footer section:nth-of-type(2) ul {
        padding: 0px 0px 0px 60px;
    }

    footer section:nth-of-type(2) ul li {
        display: inline;
        padding: 10px 20px 10px 0px;
    }

    footer p {
        margin: 0;
        background-color: var(--mainColor);
        padding: 20px 0px 20px 60px;
        font-size: 14px;
    }

    footer section:first-child img {
        margin-left: 100px;
    }
}
